<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/logo.png" style="height: 60%;width:60%;" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="kullanici/favoriler">Favoriler <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="kullanici/listele">Listele</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Çıkış</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">


    <div class="card col-md-3 float-left ml-3 mt-4" style="background-color: lemonchiffon;"
        *ngFor="let item of kayitlar">
        <div class="card-header bg-danger text-white text-center">
            <h5>{{item.urunisim}}</h5>
        </div>
        <div class="card-body">
            {{item.aracmarka}}
            <hr>
            Durum: {{item.durum}} <br>
            Fiyat: {{item.ucret}}<br>
            Adres: {{item.isletmeAdres}} <br>
            İşletme Adı: {{item.isletmeisim}} <br>
            İletişim: {{item.isletmeTel}} <br>

        </div>
        <div class="card-footer">
            <div class="form-group">
                <button type="submit" class="btn btn-outline-danger btn-block"
                    (click)="this.kayitSil(item.key)">Favorilerimden Kaldır</button>
                <h6 class="text-right mt-3"> 09.01.2021</h6>
            </div>
        </div>
    </div>
</div>